@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

*{
    text-align: center;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0;
    margin : 0;
    background-image: url("./img/tree.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:  center bottom;
    background-attachment: fixed;
}

header
{
    display: relative;
    z-index: 2;
}

h1{
    font-family: 'DynaPuff', cursive;
    margin-top: 100px;
    font-size: 80px;
    font-weight: 900;
    color:#808000;
    z-index: 2;
    text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
}

th,td{
    font-size: 1.2em;
    border : 2px solid #808000;
    padding : 15px;
}

th
{
    background-color: rgba(85, 85, 2, 0.7);
    color: #fff;

}

tbody
{
    background-color : rgba(245, 245, 220,0.7);
}

table
{
    border-collapse: collapse;
    width:600px;
    margin : 0 auto ;
    position: relative;
    z-index: 2;

}

.page_list
{
    display: inline-block;
    width : 30px;
    height : 30px;
    background-color: #fff;
    border : 3px solid #808000;
    border-radius: 5px;
    margin : 20px 5px 20px 5px;
    
}

a{
    font-size: 1.2em;
    font-weight: 900;
    color: #808000;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    position :relative;
    z-index: 2;
}

.table_list
{
    font-size: 1.2em;
    font-weight: 400;
    color : #000;
}


.page_list:hover a{
    color : #fff;
}

.page_list:hover{
    background-color: #808000;
}