@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

*{
    text-align: center;
}

h1{
    font-family: 'DynaPuff', cursive;
    margin-top: 100px;
    font-size: 100px;
    font-weight: 900;
    color:#000;
    text-shadow: -3px 0px rgba(255,215,0,0.7), 0px 3px rgba(255,215,0,0.7), 3px 0px rgba(255,215,0,0.7), 0px -3px rgba(255,215,0,0.7);
}

form
{
    width : 600px;
    height : 400px;
    margin : 0 auto;
    border : 2px solid rgba(255,215,0,0.7);
    background-color : rgba(0,0,0,0.5);
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-row-gap: 40px;
    padding : 40px;
}

label
{
    color : rgba(255,215,0,0.7);
    font-size: 1.3em;
    height: 30px;
    align-self: center;
    
}


input,textarea
{
    opacity: 50%;
    color :rgba(255,215,0);
    font-size: 1.3em;
}


button
{
    width : 80px;
    height: 40px;
    margin : 0 auto;
    border : 3px solid rgba(255,215,0,0.7);
    background-color : rgba(0,0,0,0.3);
    border-radius: 20px;
    font-weight: 900;
    font-size: 1.1em;
    color : rgba(255,215,0,0.7);
}

a
{
    color : rgba(255,215,0,0.7);
    font-weight: 900;
    text-decoration: none;
}

form
{
    position: relative;
}

.list_button
{
    position : absolute;
    top :-50px ;
    left : 0;
}


textarea{
    background-color :transparent ;
    border: 1px solid rgba(255,215,0,0.7);
}

input{
    background-color :transparent ;
    border: 1px solid #000;
}

input:focus{
    border:3px solid rgb(255,215,0);
    outline:none;
}

textarea:focus{
    border:3px solid rgb(255,215,0);
    outline:none;
}


/* main
{
    z-index:2;
}


label
{
    height : 30px;
    font-size: 1.3em;
    color: #000;
    /* text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff; */
    /* align-self: center;
}

input, textarea{
    font-size : 1.1em;
}




a{
    text-decoration: none;
    color : #000;

}


button:hover a{
    color : #fff;
}

button:hover{
    background-color: #808000;
    color : #fff;

} */ 