@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
*
{
    text-align: center;
    margin :0;
}

a
{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 900;
    position :relative;
}

h1{
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'DynaPuff', cursive;
    font-size: 100px;
    font-weight: 900;
    text-shadow: -3px 0px rgb(255, 192, 203), 0px 3px rgb(255, 192, 203), 3px 0px rgb(255, 192, 203), 0px -3px rgb(255, 192, 203);
    color: #000;
}
header
{
    position :relative;
}
h2
{
    /* margin-top: 0px; */
    font-family: 'DynaPuff', cursive;
    font-size: 60px;
    font-weight: 900;
    text-shadow: -3px 0px rgb(255, 192, 203), 0px 3px rgb(255, 192, 203) , 3px 0px rgb(255, 192, 203), 0px -3px rgb(255, 192, 203);
    position :absolute;
    bottom : -70px;
    left : 550px;
}

th,td{
    font-size: 1.2em;
    border : 2px solid rgb(255, 192, 203);
    padding : 15px;
    color : rgb(255, 192, 203);
}

th
{
    background-color: rgba(0, 0, 0,0.7);
    color: #ffc0cb;
    
}

tbody
{
    background-color : rgba(0,0,0,0.3);
}

table
{
    border-collapse: collapse;
    width:600px;
    margin : 0 auto ;
    margin-top : 100px;
    position: relative;
    
}
main
{
position : relative;
width:600px;
margin : 0 auto;
}

.write
{
position : absolute;
top : -50px;
right : 550px;
border:rgb(255, 192, 203);
background-color: rgba(0, 0, 0,0.5);
}

.title
{
    color : #000;
}
.page_list
{
    display: inline-block;
    width : 30px;
    height : 30px;
    background-color: rgba(0,0,0,0.3);
    border : 3px solid #000;
    border-radius: 5px;
    margin : 20px 5px 20px 5px;
    
}

.list
{
    color : rgb(255, 192, 203);
}
.table_list
{
    font-size: 1.2em;
    font-weight: 400;
    color :rgb(255, 192, 203) ;
}

.write_link
{
    color : rgb(255, 192, 203);

}
.write
{
    border : 2px solid rgb(255, 192, 203);
    border-radius: 5px;
    position : absolute;
    right:0;
}



.page_list:hover list{
    color :#ffc0cb;
}

.page_list:hover{
    background-color: #000;
} 
.write:hover{
    background-color: #000;
} 
